$light-green: #657589;
$catskill-white: #eff3f7;
$surf-crest: #d6e3d3;
$white: #ffffff;


.header {
  .top-bar {
    background-color: $catskill-white;
    .header-logo {
      padding: 12px 0;
    }
    .nav.navbar-nav li a {
      color: $light-green;
    }
  }
}
.page-content {
  padding-top: 62px;
  .container {
    border: 1px solid $surf-crest;
    height: auto;
    padding: 0;
    margin-bottom: 40px;
    background-color: $white;
    form {
      h4 {
        color: #8c98a7;
      }
      label {
        color: $light-green;
        text-align: left;
        font-weight: 200 !important;
      }
    }
  }
}

.login{
  position: fixed;
  margin-top: 36px;
}

.form-control{
  border: none !important;
  border-bottom: 2px solid #2b49694d !important;
  outline: none;
}

thead tr th{
  font-weight:200;
}

.navbar-color{
  background-color: #3361ff !important;
}

#navbar-collapse .navbar-nav li a{
  color: whitesmoke;
}